<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Products</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- Navbar -->

    <nav class="bg-[#006400] p-4 text-white">
        <div class="container mx-auto flex justify-center items-center">
            <h1 class="text-3xl font-bold">¡Te lo traigo!</h1>
        </div>
    </nav>

    <div class="flex w-full justify-center items-center gap-4 my-8 px-4">
        <div class="w-full">
            <h1 class="flex justify-center text-2xl font-bold">Lista de Cotizaciones</h1>
            <a class="flex justify-center w-auto m-2 mt-4 bg-blue-400 font-bold text-blue-900 px-4 py-2 rounded-lg hover:bg-blue-500 transition duration-300 text-center inline-block"
                href="/Prueba Técnica/Backend/webapp/views/NewQuote.html">Agregar nueva cotización</a>

            <div id="blocProducts"
                class="container mx-auto grid gap-1 grid-cols-1 md:grid-cols-2 lg:grid-cols-5 my-8 px-4">

                <!-- Producto 1 -->
                <div class="m-2 bg-white text-center p-6 rounded-lg shadow-lg">
                    <h2 class="mt-4 text-xl font-bold text-gray-700">
                        Ejemplo de cotización
                    </h2>
                    <div class="flex flex-row items-center">
                        <p class="w-1/3 mt-2 text-gray-600 text-md">$50.00</p>
                        <p class="w-2/3 mt-2 text-gray-600">Productos: 10</p>
                    </div>

                    <div class="flex flex-row items-center">
                        <a href=""
                            class="m-2 w-1/2 mt-4 bg-blue-200 text-blue-900 px-4 py-2 rounded-lg hover:bg-blue-300 transition duration-300 text-center inline-block">
                            Ver
                        </a>
                        <a href=""
                            class="m-2 w-1/2 mt-4 bg-red-200 text-blue-900 px-4 py-2 rounded-lg hover:bg-red-300 transition duration-300 text-center inline-block">
                            Eliminar
                        </a>
                    </div>

                </div>

                <!-- Producto 2 -->
                <div class="m-2 bg-white text-center p-6 rounded-lg shadow-lg">
                    <h2 class="mt-4 text-xl font-bold text-gray-700">
                        Ejemplo de cotización 2
                    </h2>
                    <div class="flex flex-row items-center">
                        <p class="w-1/3 mt-2 text-gray-600 text-md">$50.00</p>
                        <p class="w-2/3 mt-2 text-gray-600">Productos: 10</p>
                    </div>

                    <div class="flex flex-row items-center">
                        <a href=""
                            class="m-2 w-1/2 mt-4 bg-blue-200 text-blue-900 px-4 py-2 rounded-lg hover:bg-blue-300 transition duration-300 text-center inline-block">
                            Ver
                        </a>
                        <a href=""
                            class="m-2 w-1/2 mt-4 bg-red-200 text-blue-900 px-4 py-2 rounded-lg hover:bg-red-300 transition duration-300 text-center inline-block">
                            Eliminar
                        </a>
                    </div>

                </div>


                <!-- Producto 3 -->
                <div class="m-2 bg-white text-center p-6 rounded-lg shadow-lg">
                    <h2 class="mt-4 text-xl font-bold text-gray-700">
                        Ejemplo de cotización 3
                    </h2>
                    <div class="flex flex-row items-center">
                        <p class="w-1/3 mt-2 text-gray-600 text-md">$50.00</p>
                        <p class="w-2/3 mt-2 text-gray-600">Productos: 10</p>
                    </div>

                    <div class="flex flex-row items-center">
                        <a href=""
                            class="m-2 w-1/2 mt-4 bg-blue-200 text-blue-900 px-4 py-2 rounded-lg hover:bg-blue-300 transition duration-300 text-center inline-block">
                            Ver
                        </a>
                        <a href=""
                            class="m-2 w-1/2 mt-4 bg-red-200 text-blue-900 px-4 py-2 rounded-lg hover:bg-red-300 transition duration-300 text-center inline-block">
                            Eliminar
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>

</html>